@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f0f0f0;
}

#buttons {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;
}

button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #e0e0e0;
}

button:focus {
  background-color: #000;
  color: #fff;
}

.grid-container {
  width: 500px;
  height: 500px;
  margin-top: 1rem;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.grid-row {
  display: flex;
}

.grid-cell {
  height: 31.25px;
  width: 31.25px;
  border: 1px solid #000;
}
